# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Repository-local documentation
/CHANGELOG.md

# Files from Forge MDK
forge*changelog.txt
